In [1]:
# Basic Libraries
import numpy as np
import pandas as pd
import seaborn as sb
import matplotlib.pyplot as plt # we only need pyplot
import math
from scipy import stats

sb.set() # set the default Seaborn style for graphics

In [2]:
twitchdata = pd.read_csv('test_data2.csv')
twitchdata.describe()

,id,user_id,game_id,viewer_count,follow_count,total_views
count,2.249800e+04,2.249800e+04,2.217000e+04,22498.000000,2.249800e+04,2.249800e+04
mean,4.457011e+10,2.778053e+08,9.916903e+07,399.233621,5.675228e+04,3.119751e+06
std,2.250975e+09,2.341796e+08,3.614630e+08,3887.617151,4.202539e+05,2.289098e+07
min,3.926852e+10,1.040600e+04,2.070000e+02,8.000000,0.000000e+00,0.000000e+00
25%,4.514331e+10,8.689367e+07,3.298200e+04,24.000000,1.282000e+03,2.396100e+04
50%,4.516681e+10,1.711871e+08,4.970570e+05,42.000000,4.369500e+03,1.023455e+05
75%,4.607995e+10,4.864919e+08,5.127090e+05,104.000000,1.700075e+04,5.201175e+05
max,4.610372e+10,7.862522e+08,2.143824e+09,272883.000000,1.753082e+07,7.602435e+08

In [3]:
twitchdata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22498 entries, 0 to 22497
Data columns (total 16 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             22498 non-null  int64
 1   user_id        22498 non-null  int64
 2   user_login     22498 non-null  object
 3   user_name      22498 non-null  object
 4   game_id        22170 non-null  float64
 5   game_name      22195 non-null  object
 6   type           22498 non-null  object
 7   title          22375 non-null  object
 8   viewer_count   22498 non-null  int64
 9   started_at     22498 non-null  object
 10  language       22498 non-null  object
 11  thumbnail_url  22498 non-null  object
 12  tag_ids        22491 non-null  object
 13  is_mature      22498 non-null  bool
 14  follow_count   22498 non-null  int64
 15  total_views    22498 non-null  int64
dtypes: bool(1), float64(1), int64(5), object(9)
memory usage: 2.6+ MB